<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Hi from node.js</h1>
    <nav>
       <ul>
       <li><a href="/login">Inicio</a></li>
       <li><a href="/page">Transitive closer</a></li>
       <li><a href="/api">First Api</a></li>
       </ul>
    </nav>
</body>
</html>